:root {
  --color-darkest: #1f2122;
  --color-dark: #27292a;
  --color-light: #fff;
  --color-primary: #e75e8d;
  --color-grey: #666;
  --color-yellow: #ffeb3b;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");

body {
  background-color: var(--color-darkest);
  font-family: "Poppins", sans-serif;
}

.border-raduis-section {
  border-radius: 2rem !important;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
